body { 
   opacity: 0;
   transition: opacity .5s;
}

h1.stats {
  font-size: 60px;
  color: rgb(22, 67, 64);
  margin-left: 0px;
}

.wrapper {
  min-width: 800px;
  max-width: 1200px;
}

h3 {
  text-align: left;
    margin-bottom: 0px;
    font-size: 32px;
}

h5 {
  font-family: "Josefin Sans", serif;
  font-size: large;
  color: rgb(70, 92, 90);
  margin-top: 0px;
}

.info {
  margin-bottom: 50px;
}

#ST {
  cursor: pointer;
}