body {
  padding: 0;
  background-image: url(images/bc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  column-gap: 70px; 
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 200px;
  width: 150px;
}

h4 {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

span, li {
  font-family: "Federant", Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}


.card-whole:hover .card-inner,
.card-whole.flipped .card-inner {
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}